/* General TippyJS Styling */
.tooltip-icon {
  height: 25px;
  width: 25px;
}
.tooltip-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* Informational Pop-Up on Highlighted Text */
.tippy-box[data-theme~='informational'] {
  max-width: 550px !important;
  max-width: 100% !important;
  background: white !important;
  border: 2px solid black !important;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}
.tippy-box[data-theme~='informational'] .tippy-content {
  padding: 10px 10px 2px 10px;
  width: 550px !important;
  max-width: 100% !important;
  font-family: "Arial" !important;
}
.tippy-box[data-theme~='informational'] #information-popup {
  color: black;
}
.tippy-box[data-theme~='informational'] #information-popup em {
  font-style: italic;
}
.tippy-box[data-theme~='informational'] #information-popup a {
  text-decoration: underline;
  color: blue;
}
.tippy-box[data-theme~='informational'] #information-popup a:hover {
  color: rgb(0, 191, 255);
}
.tippy-box[data-theme~='informational'] #information-popup-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 10px;
  color: grey;
}
.tippy-box[data-theme~='informational'] #information-popup-footer img {
  height: 20px;
}
.tippy-box[data-theme~='informational'] #information-popup-content {
  padding: 0px;
}
.tippy-box[data-theme~='informational'] #information-popup-content h2 {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 3px;
  font-weight: bold;
}
.tippy-box[data-theme~='informational'] #information-popup-content .hover-tools-header {
  display: flex;
  align-items: center;
}
.tippy-box[data-theme~='informational'] #information-popup-content .hover-tools-header-icon {
  height: 20px;
  width: 20px;
  margin-right: 7px;
}
.tippy-box[data-theme~='informational'] #information-popup-content .article-container {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.tippy-box[data-theme~='informational'] #information-popup-content .hover-tools-article-text {
  font-size: 12px;
  margin-left: 10px;
}
.tippy-box[data-theme~='informational'] #information-popup-content .hover-tools-article-byline {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid grey;
  color: grey;
  font-size: 12px;
  font-weight: normal;
}
.tippy-box[data-theme~='informational'] #information-popup-content .hover-tools-article-news-icon {
  height: 40px;
  width: 40px;
  border-radius: 999px;
}
.tippy-box[data-theme~='informational'] #information-popup-content p {
  font-size: 12px;
}
.tippy-box[data-theme~='informational'] #information-popup-content .similar-claims-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 5px;
}
.tippy-box[data-theme~='informational'] #information-popup-content .similar-claims-column {

}
.tippy-box[data-theme~='informational'] #information-popup-content .similar-claims-column p {
  text-align: center;
  font-size: 11px;
}
.tippy-box[data-theme~='informational'] #information-popup-content .similar-claims-article {
  height: 30px;
  display: flex;
  align-items: center;
  color: white;
  padding: 2px 4px;
  margin-bottom: 3px;
  font-size: 11px;
}
.tippy-box[data-theme~='informational'] #information-popup-content .similar-claims-article.left {
  background: blue;
}
.tippy-box[data-theme~='informational'] #information-popup-content .similar-claims-article.center-left {
  background: turquoise;
}
.tippy-box[data-theme~='informational'] #information-popup-content .similar-claims-article.center {
  background: purple;
}
.tippy-box[data-theme~='informational'] #information-popup-content .similar-claims-article.center-right {
  background: orange;
}
.tippy-box[data-theme~='informational'] #information-popup-content .similar-claims-article.right {
  background: red;
}
.tippy-box[data-theme~='informational'] #information-popup-content .similar-claims-article:hover {
  opacity: 0.7;
  cursor: pointer;
}
.tippy-box[data-theme~='informational'] #information-popup-content .similar-claims-article img {
  margin-right: 3px;
}

/* Highlighting Styling */
.highlight {
  background-color: yellow;
}
.note {
  background-color: limegreen;
}